.container {
  display: flex;
  background-color: #fff;
  min-height: calc(100vh - 120px);
}

.left {
  flex: 2;
  border-right: 1px solid #e8e8e8;
  padding: 16px 0;
}

.right {
  flex: 7;
  padding: 16px 24px;
}
