.console {
  .fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, .45);
    margin-right: 56px;
    z-index: 10;

    &:hover {
      color: #000;
    }
  }

  .spinBox {
    height: 65vh !important;
    overflow: hidden;
  }
  :global(.ant-spin-container) {
    height: inherit;
  }

  .out {
    margin-top: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: calc(100% - 24px);
    overflow: auto;
    position: relative;

    // 终端容器样式
    > div {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}

.split {
  height: 1px;
  background-color: #eee;
  margin: 16px 0 24px 0;
  clear: both;
}
